.container{
	
}
.name{
	text-transform: uppercase;
}
ul li {
	list-style: none;
	display: inline-block;
	
}



.tools li{
	margin: 5px;
}
.first{
	background-color: #e8fdfe;
}
.second{
	background-color: #0ae4ec17;
}

.third{
	background-color: #49e0614d;
}
.gap{
	height: 2px;
	background-color: #fdf9f900;
}

.single{
	height:100px;
}

.project{
	height: 100%;
	width: 100%;
}

.custom-height{
	height: 140px;
}